<ul class="list-unstyled">
    <div class="center-block">
      <% posts.each do |post| %>
        <li class="media mb-3">
          <img class="mr-2 rounded" <%= image_tag(post.user.avatar, { size: 50 }) %>
          <div class="media-body">
            <div>
              <h1><%= link_to post.user.name, user_path(post.user) %></h1> <span class="text-muted">posted at <%= post.created_at %></span>
            </div>
            <div>
              <h2 class="mb-0"><%= link_to (image_tag post.image, :width =>'400', :height =>'auto'), post_path(post.id) %></h2>
            </div>
            <div>
                <h3 class="mb-0"><%= link_to post.title, post_path(post.id) %> </h3>
            </div>
          </div>
        </li>
      <% end %>
     </div>
  <%= paginate posts %>
</ul>

