<div class="list-unstyled">
    <li class="media mb-3">
        <img class="mr-2 rounded" <%= image_tag(@post.user.avatar, :width =>'100', :height =>'100') %> 
        <div class="media-body">
            <div>
                <h1><%= link_to @post.user.name, user_path(@post.user) %> </h3><span class="text-muted">posted at <%= @post.created_at %></span>
            </div>
            <div>
                <h2 class="mb-0"><%= safe_join(@post.title.split("\n"), tag(:br)) %>
            </div>
            <div id = "class">
                <h2 class="mr-2 rounded"><%= image_tag @post.image, :width =>'1000', :height =>'auto'%></h2>
            </div>
            <div>
                <h3 class="mb-0"><%= safe_join(@post.content.split("\n"), tag(:br)) %>
            </div>
            <br>
            <div>
                <%= render 'favorites/favorites_button', post: @post %>
                この投稿には <%= @count_likes %> 人のユーザからいいねされています。
            </div>
            <br>
            <div>
                <% if current_user == @post.user %>
                    <%= link_to "Delete", @post, method: :delete, data: { confirm: "You sure?" }, class: 'btn btn-danger btn-sm' %>
                <% end %>
            </div>
        </div>
    </li>
</div>
<br>
<div>
    <%= form_with(model: [@post, @comment], local: true) do |f| %>
        <%= hidden_field_tag :post_id, value: @post.id %>
        <div class="form-group">
            <div>
                <%= f.text_area :comment_content, :placeholder =>"ここにコメントを入力", class: 'form-control',rows: 2 %>
            </div>
            <%= f.submit 'コメント', class: 'btn btn-primary btn-block' %>
        </div>
    <% end %>
</div>
<br>
<p>この投稿に<%= @count_comments %> 件のコメントがあります↓</p>
<div>
    <% @comments.each do |comment| %>
        <div class="media mb-3">
            <img class="mr-2 rounded" <%= image_tag(comment.user.avatar, { size: 50 }) %>
            <div class="media-body">
                <div>
                    <%= link_to comment.user.name, user_path(comment.user) %> <span class="text-muted">posted at <%= comment.created_at %></span>
                </div>
                <div>
                    <p class="mb-0"><%= safe_join(comment.comment_content.split("\n"), tag(:br)) %></p>
                </div>
                <div>
                    <% if current_user == comment.user %>
                      <%= link_to "Delete", post_comment_path(@post, comment), method: :delete, data: { confirm: "You sure?" }, class: 'btn btn-danger btn-sm' %>
                    <% end %>
                </div>
            </div>
        </div>
    <% end %>
</div>